body
{
    font-family: 'Raleway', sans-serif;
    padding-top: 0px;
    margin: 0px;
}

header, footer, #filtres, #hotels-section, #activites
{
    margin-top: 0px;
    margin-left: 8%;
    margin-right: 8%;
    padding-top: 0;
    padding-bottom: 1rem;
}

footer
{
/*  it's visually nicer to have footer padding equal to margin of other sections */
    padding: 8%;
}


#logo
{
    width: 150px;
    margin-top: 30px;
}


nav 
{
    float: right;
    display: flex;
    align-items: flex-start;
    padding:0;
    margin: 24px;
}

nav ul
{
    list-style-type: none;
}

nav li 
{
    float: left;
}
    
ul li a 
{
    color:black;
    text-decoration: none;
    text-align: center;
    font-weight: 500;
    padding: 38px 20px 10px 20px;
    border-top: 4px solid transparent;
}


nav a:active
{
    color:  #0065FC;
}

nav ul a:hover 

{
    border-top: 4px solid #0065FC;
}


/*  HEADER */


h1.page-title
{
    font-weight: 700;
}

h2.sub-title
{
    font-size: 1.2rem;
    font-weight: 500;
}

h2.section-title
{
    font-size: 1.2rem;
    font-weight: 800;
}


#location-icon
{
    width: 40px;
    height: 30px;
    background-color: #F2F2F2 ;
}


#input-city
{
    padding: 8px;    
    margin-right: -4px;
    border-color: lightgray;
}

#search-button
{
    color: white;
    background-color: #0065FC;
    padding:10px;
    border-radius: 0 10px 10px 0;
    border-width: 0;
}





/*  SECTION HEBERGEMENTS */


#hotels-section{
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
}


.hotels-box-container
{
    background-color: #F2F2F2 ;
    padding: 2.4rem 2.6rem 2.4rem 2.6rem;
    border-radius: 1rem;    
}


#hotels-main
{

}


#hotels-populars
{
    margin-left: 3rem;
}


#hotel-grid-main
{
    margin: 0 -15px 0 -15px;
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    flex-flow: row wrap ;

    flex-wrap: wrap;
}


.hotel-item-common
{
/*    margin-right: 35px; */
    margin: 15px;
    margin-bottom: 25px;
    height: 170px;
    width: 180px;
    background-color: #fff ;
    padding: 0.3rem;
    border-radius: 1rem;
    box-shadow: 0px 0px 5px 0px gray;  

}

.hotel-item-main
{
    height: 180px;
    width: 220px;
    background-color: #fff ;
    padding: 0.3rem;
    border-radius: 1rem;
    box-shadow: 0px 0px 5px 0px gray;  
}

.hotel-item-common:hover
{
    box-shadow: 0px 0px 15px 0px gray;
}

.hotel-item-pop
{
    margin: 30px 0px 40px 0px;
    
    height: 120px;
    width: 280px;
    padding: 0.3rem;
    border-radius: 1rem;
    box-shadow: 0px 0px 5px 0px gray;  
}




.hotel-height-crop-container
{
    height: 110px;
 /*   vertical-align: middle; */
    overflow: hidden; 
 /*   background-position: center center; */
    border-radius: 0.8em 0.8em 0em 0em;
}



.hotel-width-crop-container
{
    float: left; 
    width: 100px;
    height: 120px;
    margin-right: 12px;
 /*   vertical-align: middle; */
    overflow: hidden; 
 /*   background-position: center center; */
    border-radius: 0.8em 0em 0em 0.8em;
}


img.small-hotel-main
{
    width: 100%; 
    margin: -10px 0px -10px 0px; 
 /*  height: 80px;  */
/*    overflow: hidden; */
/*    vertical-align: middle; */
/*    border-radius: 0.8em 0.8em 0em 0em; */
/*    clip: rect(10px, 40px, 40px, 10px) */
/*    object-fit: */
}


img.small-hotel-pop
{
    height: 100%;
    margin: 0px -30px 0px -30px; 
 /*  height: 80px;  */
/*    overflow: hidden; */
/*    vertical-align: middle; */
/*    border-radius: 0.8em 0.8em 0em 0em; */
/*    clip: rect(10px, 40px, 40px, 10px) */
/*    object-fit: */
}





h3.hotel-name
{
    font-size: 0.8rem;
    font-weight: 700;
    margin: 8px 8px 4px 8px;
}

p.hotel-prix
{
    font-size: 0.7rem;
    margin:4px 8px 6px 8px;
}


.stars-container
{
    margin-top: -2px;
    padding-left: 8px;
}


.fa-star {
    color: #0065FC;
  }

 .fa-star-o {
    color:#0065FC;
  }

p.show-more
{
    margin-top: 2rem;
    font-weight: 600;
    font-size: 1.2rem;
}



#activites
{
    margin-top: 60px;
    margin-right: 60px;    
    min-height: 200px;
}


/*  FOOTER */

footer
{   
    background-color: #F2F2F2 ;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: flex-start;
    padding-top: 1.6rem;
    padding-bottom: 3rem;
    margin-left: 0px;
    margin-right: 0px;
}

.footer-column
{
    flex: 1;
    min-width: 230px;
}

footer h3
{
    font-size: 1rem;
    font-weight: bold;
}

footer a
{
    text-decoration: none;
    font-size: 0.9rem;
    font-weight: normal;
    line-height: 26px;
    color: black;
}


