body
{
    font-family: 'Raleway', sans-serif;
    padding-top: 0px;
    margin: 0px;
}

header, footer, #filtres, #hotels-section, #activites
{
    margin-top: 0px;
    margin-left: 8%;
    margin-right: 8%;
    padding-top: 0;
    padding-bottom: 1rem;
}

a
{
    text-decoration: none;
}



footer
{
/*  it's visually nicer to have footer padding equal to margin of other sections */
    padding: 8%;
}


#logo
{
    width: 150px;
    margin-top: 30px;
}



nav 
{
    float: right;
    display: flex;
    align-items: flex-start;
    padding:0;
    margin: 0px;
}

nav ul
{
    list-style-type: none;
    margin: 0px;
    padding: 20px;
}

nav li 
{
    float: left;
}
    
nav ul li a 
{
    color:black;
    text-align: center;
    font-weight: 500;
    padding: 16px 20px 10px 20px;
    border-top: 4px solid transparent;
}


nav a:active, a.blue-link
{
    color:  #0065FC;
}


nav ul a:hover 

{
    border-top: 4px solid #0065FC;
    color: #0065FC;
}


/*  HEADER */


h1.page-title
{
    font-weight: 700;
    font-size: 1.8rem;
}

h2.sub-title
{
    font-size: 1.2rem;
    font-weight: 500;
}

h2.section-title
{
    font-size: 1.2rem;
    font-weight: 800;
}


#location-icon
{
    width: 40px;
    height: 30px;
    background-color: #F2F2F2 ;
}


#search-bar
{
    display: flex;
}

#search-button:hover
{
    box-shadow: 3px 3px 6px 0px lightgrey; 
    cursor: pointer;
}


#location-box
{
    background-color: #F2F2F2;
    width: 12px;
    height: 16px;
    padding: 10px 10px 10px 16px;
    border-radius: 8px 0 0 8px;
}


#location-icon
{
    margin-left: 20px;
}


#input-city
{
    padding: 8px;    
    margin-right: -4px;
    font-size: 1rem;
    font-weight: 700;
    border-color: rgb(238, 238, 238);
    border-style: solid;

}


#search-button
{
    color: white;
    background-color: #0065FC;
    font-size: 0.9rem;
    font-weight: 500;
    padding:10px;
    border-radius: 0 10px 10px 0;
    border-width: 0;
}



#filtre-bar
{
    margin: 30px 0 0px 0;
/*   height: 200px; */
    display: flex;

}


#filtre-bar ul
{
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
}


#filtre-bar ul li a
{
    text-align: center;
    padding: 10px 20px 10px 20px;
    font-size: 0.9rem;
    font-weight: 700;
    color:black;
}

.filtre-item:hover
{
    box-shadow: 0px 0px 10px 0px lightgray;  
}



/* .filtre-bar ul li */
.filtre-item
{
    display: flex; 
    height: 38px;
    margin: 0 30px 20px 0;
    border-radius: 50px;
    border-style: solid;
 /*   border-width: 2px; */
    border-color: rgb(221, 221, 221);
}


.filtre-icon-box
{   
    color:#0065FC;
    padding: 8px 10px 8px 10px;
    background-color: #DEEBFF ;
    border-radius: 50px;
}


.filtre-icon
{
    padding: 3px;
}




/*  SECTION HEBERGEMENTS */


#hotels-section
{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
}


.hotels-box-container
{
    background-color: #F2F2F2 ;
    padding: 2.4rem 2.4rem 2rem 2.4rem;
    border-radius: 1rem;
    padding-right: 5%;
    margin-bottom: 50px;
}


#hotels-main
{
    max-width: 720px;
}


#hotels-populars
{
    width: 290px;
    padding-bottom: 10px;
}


#hotel-grid-main
{
    margin: 0 -15px 0 -15px;
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    flex-flow: row wrap ;
    flex-wrap: wrap;
}


.hotel-item-common
{
/*    margin-right: 35px; */
    margin: 15px;
    margin-bottom: 25px;
    background-color: #fff ;
    padding: 0.3rem;
    border-radius: 1rem;
    box-shadow: 0px 0px 5px 0px gray;  
}


.hotel-item-main
{
    height: 180px;
    width: 210px;
}


.hotel-item-common:hover
{
    box-shadow: 0px 0px 15px 0px gray;
}


.hotel-item-pop
{
    margin: 30px 0px 40px 0px;
    height: 120px;
    width: 280px;
    position: relative;
}


.hotel-height-crop-container
{
    height: 110px;
    overflow: hidden; 
    border-radius: 0.8em 0.8em 0em 0em;
}


.hotel-width-crop-container
{
    float: left; 
    width: 106px;
    height: 100%;
    margin-right: 10px;
    overflow: hidden; 
    border-radius: 0.8em 0em 0em 0.8em;
}


img.small-hotel-main
{
    width: 100%; 
    height: 100%;
    object-fit: cover;
 /*   margin: -10px 0px -10px 0px; */
 /*  height: 80px;  */
/*    overflow: hidden; */
/*    vertical-align: middle; */
/*    border-radius: 0.8em 0.8em 0em 0em; */
/*    clip: rect(10px, 40px, 40px, 10px) */
/*    object-fit: */
}


img.small-hotel-pop
{
    height: 100%;
    margin: 0; 
    position: relative;

    width: 100%; 
    height: 100%;
    object-fit: cover;

 /*  height: 80px;  */
/*    overflow: hidden; */
/*    vertical-align: middle; */
/*    border-radius: 0.8em 0.8em 0em 0em; */
/*    clip: rect(10px, 40px, 40px, 10px) */
/*    object-fit: */
}


.hotel-info
{
    margin: -8px 4px 4px 6px;
}



h3.hotel-name
{
    font-size: 0.9rem;
    font-weight: 700;
    color: black;
/*    margin: 8px 8px 4px 8px; */
}


p.hotel-prix
{
    color: black;
    font-size: 0.8rem;
    line-height: 0px;
    margin: -4px 0px 0px 0px;
}




.stars-container-main
{
    margin-top: 12px;
}

.stars-container-pop
{
    position: absolute;
    left: 120px;
    top: 53px;
    margin-top: -2px;
    padding-top: 48px;
}


.fa-star {
    color: #0065FC;
  }

 .fa-star-o {
    color:#0065FC;
  }


.show-more
{
    font-weight: 600;
    font-size: 1.2rem;
    line-height: 40px;
}



#activites
{
    margin-top: 0;
    margin-bottom: 90px;
/*    height: 500px;  */
 /*   background-color: yellow;*/
}


#activities-photo-container
{
    margin: 40px -1em 40px -1em;
    display: flex;
    justify-content: space-between;
    height: 500px;
}


.activity-photo-column
{
    min-width: 225px;
    max-width: 280px;
    flex: 1;
    margin: 0 1em;
}


.activity-photo-half
{
    height: 42%;
    padding-bottom: 80px;
}


.activity-picture
{
    margin: 0 0 0 0;
    overflow: hidden;
    width: 100%;
    height: 100%; 
    padding-bottom: 40px;
  /*  max-width: 80px;*/
 /*   height: 100%; */
    border-radius: 20px;
    box-shadow: 0px 0px 15px 0px lightgray; 
}


.activity-picture:hover
{
    box-shadow: 0px 0px 15px 0px gray; 
}


.activity-picture img
{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 20px 20px 0 0;
}

.activity-picture figcaption
{
    padding: 8px 10px 14px 16px;
    font-weight: 600;
    font-size: 0.9rem;

}


/*  FOOTER */

footer
{   
    background-color: #F2F2F2 ;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: flex-start;
    padding-top: 1.6rem;
    padding-bottom: 3rem;
    margin-left: 0px;
    margin-right: 0px;
}


.footer-column
{
    flex: 1;
    min-width: 230px;
}

footer h3
{
    font-size: 1rem;
    font-weight: bold;
}

footer a
{
    text-decoration: none;
    font-size: 0.9rem;
    font-weight: normal;
    line-height: 26px;
    color: black;
}


